$font-stack: Helvetica, Arial, sans-serif;
$primary-color: #444;
$default-cursor: pointer;
$border-off: none;
$standard-width: 1020px;
$standard-padding: 2em;
$standard-column-width: 100%;

/* -----------------------------------------------
  $Last Updated: 05/22/15 $mxg
  
  1. Defaults & Resets & Generics
  2. Layout & Grid
  3. Typography
  4. lists
  5. Generics
  6. Tables
  7. Buttons & Icons
  8. Forms
  9. Alerts
  10. Popover
  11. Custom Breaks for Devices (@media queries)
------------------------------------------------ */


/* 1. Defaults & Resets & Generics */
@import "components/defaults";


/* 2. Layout & Grid
==========================*/
@import "components/grid";