/* -----------------------------------------------
  $Last Updated: 05/22/15 $mxg
  
  1. Defaults & Resets & Generics
  2. Layout & Grid
  3. Typography
  4. lists
  5. Generics
  6. Tables
  7. Buttons & Icons
  8. Forms
  9. Alerts
  10. Popover
  11. Custom Breaks for Devices (@media queries)
------------------------------------------------ */


/*1. Defaults & Resets & Generics
======================================*/
/* apply a natural box layout model to all elements */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html{
  font-size: 62.5%
}

body{
  font-family: Helvetica, Arial, sans-serif;
  color: #444;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover, a:active, a img{outline: none}

a img{border:none;}

img {
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button, input, select, textarea {
  font-size: 100%;
  vertical-align: middle;
  border:none;
}

button, input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
}

button, html input[type="button"], input[type="reset"],input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"] {
  cursor: pointer;
}


/* 2. Layout & Grid
==========================*/
.grid{
  display: flex;
  flex-wrap: wrap;
  padding-right: 2em;
  padding-left: 2em;
}

.inner{
  width: 1020px;
  margin:0 auto;
}

.inner-absolute{
  width: 1024px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -51.2em;
}

[class*='span-'] {
  float: left;
  padding: 2em;
  position: relative;
  box-sizing: border-box;
}
 
[class*='span-']:last-of-type {
  padding-right: 0px;
  float: right;
}

/* Defaults (& Mobile Portrait)*/
.span-1-1 { width: 100%; }

.span-1-2 { width: 50%; }

.span-1-3 { width: 33.333333333333336%; }
.span-2-3 { width: 66.66666666666667%; }

.span-1-4 { width: 25%; }
.span-2-4 { width: 50%; }
.span-3-4 { width: 75%; }

.span-1-5 { width: 20%; }
.span-2-5 { width: 40%; }
.span-3-5 { width: 60%; }
.span-4-5 { width: 80%; }

.span-1-6 { width: 16.666666666666668%; }
.span-2-6 { width: 33.333333333333336%; }
.span-3-6 { width: 50%; }
.span-4-6 { width: 66.66666666666667%; }
.span-5-6 { width: 83.33333333333333%; }

.span-1-10 { width: 10%; }
.span-2-10 { width: 20%; }
.span-3-10 { width: 30%; }
.span-4-10 { width: 40%; }
.span-5-10 { width: 50%; }
.span-6-10 { width: 60%; }
.span-7-10 { width: 70%; }
.span-8-10 { width: 80%; }
.span-9-10 { width: 90%; }


/* Mobile Landscape  */
@media only screen and (min-width: 400px) {
  .span-1-1-xs { width: 100%; }

  .span-1-2-xs { width: 50%; }

  .span-1-3-xs { width: 33.333333333333336%; }
  .span-2-3-xs { width: 66.66666666666667%; }

  .span-1-4-xs { width: 25%; }
  .span-2-4-xs { width: 50%; }
  .span-3-4-xs { width: 75%; }

  .span-1-5-xs { width: 20%; }
  .span-2-5-xs { width: 40%; }
  .span-3-5-xs { width: 60%; }
  .span-4-5-xs { width: 80%; }

  .span-1-6-xs { width: 16.666666666666668%; }
  .span-2-6-xs { width: 33.333333333333336%; }
  .span-3-6-xs { width: 50%; }
  .span-4-6-xs { width: 66.66666666666667%; }
  .span-5-6-xs { width: 83.33333333333333%; }

  .span-1-10-xs { width: 10%; }
  .span-2-10-xs { width: 20%; }
  .span-3-10-xs { width: 30%; }
  .span-4-10-xs { width: 40%; }
  .span-5-10-xs { width: 50%; }
  .span-6-10-xs { width: 60%; }
  .span-7-10-xs { width: 70%; }
  .span-8-10-xs { width: 80%; }
  .span-9-10-xs { width: 90%; }
}


/* Tablet Portrait */
@media only screen and (min-width: 568px) {
  .span-1-1-sm { width: 100%; }

  .span-1-2-sm { width: 50%; }

  .span-1-3-sm { width: 33.333333333333336%; }
  .span-2-3-sm { width: 66.66666666666667%; }

  .span-1-4-sm { width: 25%; }
  .span-2-4-sm { width: 50%; }
  .span-3-4-sm { width: 75%; }

  .span-1-5-sm { width: 20%; }
  .span-2-5-sm { width: 40%; }
  .span-3-5-sm { width: 60%; }
  .span-4-5-sm { width: 80%; }

  .span-1-6-sm { width: 16.666666666666668%; }
  .span-2-6-sm { width: 33.333333333333336%; }
  .span-3-6-sm { width: 50%; }
  .span-4-6-sm { width: 66.66666666666667%; }
  .span-5-6-sm { width: 83.33333333333333%; }

  .span-1-10-sm { width: 10%; }
  .span-2-10-sm { width: 20%; }
  .span-3-10-sm { width: 30%; }
  .span-4-10-sm { width: 40%; }
  .span-5-10-sm { width: 50%; }
  .span-6-10-sm { width: 60%; }
  .span-7-10-sm { width: 70%; }
  .span-8-10-sm { width: 80%; }
  .span-9-10-sm { width: 90%; }
}


/* Tablet Landscape */
@media only screen and (min-width: 769px) {
  .span-1-1-md { width: 100%; }

  .span-1-2-md { width: 50%; }

  .span-1-3-md { width: 33.333333333333336%; }
  .span-2-3-md { width: 66.66666666666667%; }

  .span-1-4-md { width: 25%; }
  .span-2-4-md { width: 50%; }
  .span-3-4-md { width: 75%; }

  .span-1-5-md { width: 20%; }
  .span-2-5-md { width: 40%; }
  .span-3-5-md { width: 60%; }
  .span-4-5-md { width: 80%; }

  .span-1-6-md { width: 16.666666666666668%; }
  .span-2-6-md { width: 33.333333333333336%; }
  .span-3-6-md { width: 50%; }
  .span-4-6-md { width: 66.66666666666667%; }
  .span-5-6-md { width: 83.33333333333333%; }

  .span-1-10-md { width: 10%; }
  .span-2-10-md { width: 20%; }
  .span-3-10-md { width: 30%; }
  .span-4-10-md { width: 40%; }
  .span-5-10-md { width: 50%; }
  .span-6-10-md { width: 60%; }
  .span-7-10-md { width: 70%; }
  .span-8-10-md { width: 80%; }
  .span-9-10-md { width: 90%; }
}




/* Desktop */
@media only screen and (min-width: 1020px) {
  .span-1-1-lg { width: 100%; }

  .span-1-2-lg { width: 50%; }

  .span-1-3-lg { width: 33.333333333333336%; }
  .span-2-3-lg { width: 66.66666666666667%; }

  .span-1-4-lg { width: 25%; }
  .span-2-4-lg { width: 50%; }
  .span-3-4-lg { width: 75%; }

  .span-1-5-lg { width: 20%; }
  .span-2-5-lg { width: 40%; }
  .span-3-5-lg { width: 60%; }
  .span-4-5-lg { width: 80%; }

  .span-1-6-lg { width: 16.666666666666668%; }
  .span-2-6-lg { width: 33.333333333333336%; }
  .span-3-6-lg { width: 50%; }
  .span-4-6-lg { width: 66.66666666666667%; }
  .span-5-6-lg { width: 83.33333333333333%; }

  .span-1-10-lg { width: 10%; }
  .span-2-10-lg { width: 20%; }
  .span-3-10-lg { width: 30%; }
  .span-4-10-lg { width: 40%; }
  .span-5-10-lg { width: 50%; }
  .span-6-10-lg { width: 60%; }
  .span-7-10-lg { width: 70%; }
  .span-8-10-lg { width: 80%; }
  .span-9-10-lg { width: 90%; }
}



/* Desktop Wide */
@media only screen and (min-width: 1400px) {
  .span-1-1-xl { width: 100%; }

  .span-1-2-xl { width: 50%; }

  .span-1-3-xl { width: 33.333333333333336%; }
  .span-2-3-xl { width: 66.66666666666667%; }

  .span-1-4-xl { width: 25%; }
  .span-2-4-xl { width: 50%; }
  .span-3-4-xl { width: 75%; }

  .span-1-5-xl { width: 20%; }
  .span-2-5-xl { width: 40%; }
  .span-3-5-xl { width: 60%; }
  .span-4-5-xl { width: 80%; }

  .span-1-6-xl { width: 16.666666666666668%; }
  .span-2-6-xl { width: 33.333333333333336%; }
  .span-3-6-xl { width: 50%; }
  .span-4-6-xl { width: 66.66666666666667%; }
  .span-5-6-xl { width: 83.33333333333333%; }

  .span-1-10-xl { width: 10%; }
  .span-2-10-xl { width: 20%; }
  .span-3-10-xl { width: 30%; }
  .span-4-10-xl { width: 40%; }
  .span-5-10-xl { width: 50%; }
  .span-6-10-xl { width: 60%; }
  .span-7-10-xl { width: 70%; }
  .span-8-10-xl { width: 80%; }
  .span-9-10-xl { width: 90%; }
}


/* Gives us padding/margin to work with for content pieces */
.content{
  padding-bottom: 20px
}
.content-top{
  margin-top: 20px
}
.content-spacing{
  margin-top: 80px
}

/* 3. Typography
==========================*/
a{color: #438bc5; text-decoration: none; outline: none;}
a:hover,a:focus {text-decoration: none; outline: none}

.l{text-align: left}
.r{text-align: right;}
.c{text-align: center}
.j{text-align: justify;}
.upper{text-transform: uppercase;}
.lower{text-transform: lowercase;}
.lighter{font-weight: lighter;}
.bold{font-weight: bold;}

h1, .sevenxl{
  line-height: 1
}

.mini{
  font-size: 0.9rem
}
.small{
  font-size: 1.0rem; 
  line-height: 14px
}
.med{
  font-size: 1.2rem; 
  line-height: 1.6rem
}
.normal{
  font-size: 1.4rem; 
  line-height: 2rem
}
.large{
  font-size:1.8rem; 
  line-height: 24px; 
  margin-bottom: 22px
}
.xl{
  font-size: 2.4rem; 
  line-height: 32px; 
  margin-bottom: 15px
}
.xlt{
  font-size: 3rem; 
  line-height: 5rem; 
}
.xxl{
  font-size: 3.6rem; 
  line-height: 6rem; 
  margin-bottom: 20px
}
.xxxl{
  font-size: 4.8rem;
  line-height: 7rem
}
.sixxl{
  font-size: 6rem; 
  line-height: 8rem.
}
.sevenxl{
  font-size: 7.2rem; 
}


h1, h2, h3{ 
  font-weight: bold
}
h1{
  font-size: 4.8rem; 
  margin-bottom: 4rem
}
h2{
  font-size: 3.6rem; 
  line-height: 40px; 
  margin-bottom: 3rem
}
h3{
  font-size: 2.4rem; 
  line-height: 4.4rem;
  margin-bottom: 1.5rem
}
h4{
  font-size: 2.1rem; 
  font-weight: lighter;
}
h5{
  font-size: 1.8rem; 
  font-weight: bold
}

p, ul, ol{
  font-size: 1.4rem; 
  line-height: 2rem; 
  margin: 0 0 17px 0
}

ul, ol{
  margin-left: 15px
}

address, cite{
  font-style: normal; 
  line-height: 17px
}
blockquote{
  margin-left: 40px; 
  padding-left: 20px; 
  border-left: 4px solid #6BB4EA; 
  font-style: italic;
}



/* 4. lists
========================= */
ul.inline, ol.inline{
  margin:0 0 15px 0;
  padding:0;
  list-style-type: none;
}
ul.inline > li, ol.inline > li{
  float:left;
  margin-right: 20px;
}
ul.unstyled, ol.unstyled{
  margin:0;
  padding:0;
  list-style-type: none;
}
ul.unstyled ul.unstyled, ol.unstyled ol.unstyled{
  margin: 0
}
ul.inline > li.end, ol.inline > li.end{
  margin:0;
}
ul.unstyled.vertical-list li{
  margin-bottom: 10px
}

/* 5. Generics 
==================================*/

/* Position */
.align-right, [class*='span-']:last-of-type.align-right {
  float:right
}
.align-left, [class*='span-']:last-of-type.align-left {
  float:left
}
.align-center{
  margin: 0 auto
}
.clearfix{
  clear:both;
}

/*auto scale iframe to its container*/
.flex-frame{ 
  position: relative;
  overflow: hidden; 
  max-width: 100%; 
  height: 0; 
  padding-bottom: 56.25%; 
  padding-top: 30px;
} 
.flex-frame iframe, .flex-frame object, .flex-frame embed { 
  position: absolute; 
  top: 20px; 
  left: 20px; 
  width: 95%; 
  height: 95%; 
}

.flex-bg-img{
  min-height: 100%;
  min-width: 1020px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.flex-container-bg-img{
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
}

/*A better Show/Hide for JS*/
.hide, .ng-hide, [class*="span-"].hide{
  display: none !important;
}

.show, .ng-show, [class*="span-"].show{
  display: block !important;
}

.no-float{
  float:none !important;
}
.yes-overlfow{
  overflow: visible;
}
/* Generics */
.hide, .ng-hide{
  display: none !important;
}

.show, .ng-show{
  display: block !important;
}

[class*="span-"].hide, .hide {
  display: none;
}

/*Paddings*/
.pad, [class*='span-']:last-of-type.pad{
  padding:20px;
}

.no-pad{
  padding:0 !important;
}

.pad-top{
  padding-top:20px;
}
.pad-bottom{
  padding-bottom: 20px
}
.pad-right{
  padding-right: 20px;
}
.pad-left{
  padding-left: 20px
}

.no-margin, ul.inline .no-margin, ol.inline .no-margin{
  margin:0;
}

/*image definitions*/
.right-space{
  margin-right: 20px
}
.left-space{
  margin-left:20px;
}
.bottom-space{
  margin-bottom: 20px
}
.top-space{
  margin-top: 20px
}



img.stretchy{
  position:fixed; 
  width:100%; 
  height: auto; 
  top:0; 
  left:0
}
.round{ 
  border-radius: 100px
}
.rounded-corners{
  border-radius: 3px
}

/* responseive images */
img.flex-img{
  width: 100%;
}

/* useful for on scrolling position change*/
.is-sticky{
  position: fixed;
}

/* Layout Generic Design */
.box-line{
  border: 1px solid #fff;
}
.left-line{
  border-left:1px solid #fff;
}
.right-line{
  border-right: 1px solid #fff
}
.bottom-line{
  border-bottom: 1px solid #fff
}
.top-line{
  border-top: 1px solid #fff
}

.light-grey-line{
  border-color: #eee;
}
.grey-line{
  border-color: #ddd
}


/* 6. Tables
==========================*/
table th, table td{
  padding: 10px;
}
thead th{
  font-weight: bold;
  text-align: left
}
table tr{
  border-bottom: 1px dotted #ccc
}

table tr[class*='span-'] {
  float: none;
  padding: 0px;
  position: relative;
}
 
table tr[class*='span-']:last-of-type {
  padding-right: 0px;
  float: none;
}

tr.zebra{
  background-color: #eee
}

/* 7. Buttons & Icons
==========================*/
.btn{
  display: inline-block;
  padding:8px 18px;
  color:#fff;
  border-radius: 3px;
  text-transform: uppercase;
  margin-left: 10px;
  background: #7f8c8d;
  text-align: center;
  font-size: 1.4rem
}

a.btn:hover,a.btn:focus {
  text-decoration: none;
}

.control-group.large .btn{
  padding: 15px 20px;
}

.btn.small{
  padding:4px 9px; 
  font-size: 10px
}

.btn.large-btn{
  padding:15px 80px;
  font-size: 1.8rem
}

.btn-first{
  margin:0;
}

.full-width-btn{
  width: 100%;
  padding-left:0;
  padding-right:0;
}
.btn.transparent{
    border: 1px solid #fff
}

/* Flat Bg Colors */
.blue{
  background: #2980b9;
}
.orange{
background: #d35400
}
.green{
  background: #27ae60;
}
.red{
  background: #c0392b;
}
.grey{
  background-color: #666
}

.transparent{
  background-color: transparent;
}




/* 8. Forms
=======================================*/
input, textarea, select, textarea{font: normal 13px Arial, Helvetica, sans-serif;}
form{margin:0; padding:0;}
input, textarea, select{
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 10px;
    width: 200px;
  vertical-align:middle;
}

input[type=radio], input[type=checkbox]{width:20px; padding:0; margin:0;}
input, textarea {
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

select {background-color: #FFFFFF; width: 200px;}

input[type="file"] {height: auto; width: auto; padding: 0; border: none; box-shadow: none; -webkit-box-shaddow:none;}
fieldset{margin:0; padding:0; display:block; border:none;}
legend{
  padding:0;
  display:block;
  font-size:24px;
  line-height:34px;
  margin:0px 0px 10px 0px;
  color:#444;
  width:100%;
}
legend + .control-group{margin-top:15px;}
label{font-size:14px; padding-top:7px; display:block; color: #333;}

/*Various control sizes*/
.input-mini{width:50px;}
.input-short{width:100px;}
.input-med{width:150px;}
.input-xlong{width:300px;}
.input-xxlong{width:550px;}
.input-full{width:1024px;}
.input-full-width{width:100%;}
.input-textarea {height: 200px;}

/*Form structure*/
.control-group{clear:both; margin-bottom:10px; display:table;}
.control-label{float:left; width:140px; text-align:left;}
.controls{margin-left:160px;}
.help-inline, #content p.help-inline{display:inline-block; vertical-align:middle; margin:0px 0px 0px 10px; font-size:13px;}
.help-text{   
  clear: both;
  float: left;
  font-size: 13px;
  margin-top: 15px;
}

input.error{
  border:1px solid #953b39;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.short.control-group{padding-right: 8px}
.short.control-group .input-med{width:146px;}
.short.control-group:last-of-type{ padding-right:0 }

.form-left .control-label{margin-bottom: 5px}
.form-left .controls{margin:0; clear: both}
.form-left .btn{margin:0 10px 0 0;}
.form-labelOver .control-group{position: relative;}
.form-labelOver .control-label{position: absolute; left: 10px; top:3px; color:#ccc;}

.form-center{margin:0 auto;}
.form-small{width:400px;}
.form-mini{width:300px;}
.form-med{width:600px;}

.form-full-width{width:100%}
.form-full-width .control-group{width:100%}
.form-full-width .short.control-group{width: 50%;}

.form-inline .control-group, .short.control-group{clear:none; float: left; position: relative;}
.form-inline .controls{margin:0;}
.form-inline .control-label{position: absolute; left:10px; top: 2px}
.form-inline .btn{ padding: 12px 15px}

.control-group.large input{
  padding:15px;
  margin-bottom: 5px
}
.form-inline .control-group.large .control-label{
  position: absolute; 
  left:10px; 
  top: 6px;
  z-index: 999;
}


/* 9. Alerts 
=====================*/
.alert{
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
.alert.alert-warning{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert.alert-success{
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* 10. Popovers - concept used from tw boostrap
================================================*/
.popover{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 216px;
  padding: 10px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  color: #777
}

.popover > .arrow, .popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover>.arrow:after {
  content: "";
  border-width: 10px;
}


.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-left-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #fff;
  border-left-width: 0;
}

.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #fff;
  border-right-width: 0;
}
.popover.left > .arrow:after {
  bottom: -10px;
  right: 1px;
  content: " ";
  border-left-width: 0;
}

.popover.top > .arrow {
  left: 50%;
  bottom: -11px;
  margin-top: -11px;
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  margin-left: -10px;
  bottom: 1px;
  content: " ";
  border-top-width: 0;
}

.popover.bottom > .arrow {
  left: 50%;
  top: -11px;
  margin-left: -11px;
  border-bottom-color: #fff;
  border-top-width: 0;
}
.popover.bottom > .arrow:after {
  margin-left: -10px;
  top: 1px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff 
}



/* 11. Custom Breaks for Devices 
=====================================*/

@media (max-width: 1024px) {
  .inner{
    width: 100%;
    margin: 0
  }
}

@media (max-width: 820px) {
  .flex-frame iframe, .flex-frame object, .flex-frame embed { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
}




