.grid{
  display: flex;
  flex-wrap: wrap;
  padding-right: $standard-padding;
  padding-left: $standard-padding;
}

.inner{
  width: $standard-width;
  margin:0 auto;
}

.inner-absolute{
  width: $standard-width;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -$standard-width / 2;
}

[class*='span-'] {
  float: left;
  padding: $standard-padding;
  position: relative;
}
 
[class*='span-']:last-of-type {
  padding-right: $standard-padding - 2;
  float: right;
}

/* Defaults (& Mobile Portrait)*/
.span-1-1 { width: $standard-column-width }

.span-1-2 { width: $standard-column-width / 2 }

.span-1-3 { width: $standard-column-width / 3 }
.span-2-3 { width: $standard-column-width / 3 * 2 }

.span-1-4 { width: $standard-column-width / 4 }
.span-2-4 { width: $standard-column-width / 4 * 2 }
.span-3-4 { width: $standard-column-width / 4 * 3 }

.span-1-5 { width: $standard-column-width / 5; }
.span-2-5 { width: $standard-column-width / 5 * 2 }
.span-3-5 { width: $standard-column-width / 5 * 3 }
.span-4-5 { width: $standard-column-width / 5 * 4 }

.span-1-6 { width: $standard-column-width / 6 }
.span-2-6 { width: $standard-column-width / 6 * 2 }
.span-3-6 { width: $standard-column-width / 6 * 3 }
.span-4-6 { width: $standard-column-width / 6 * 4 }
.span-5-6 { width: $standard-column-width / 6 * 5 }

.span-1-10 { width: $standard-column-width / 10 }
.span-2-10 { width: $standard-column-width / 10 * 2 }
.span-3-10 { width: $standard-column-width / 10 * 3 }
.span-4-10 { width: $standard-column-width / 10 * 4 }
.span-5-10 { width: $standard-column-width / 10 * 5 }
.span-6-10 { width: $standard-column-width / 10 * 6 }
.span-7-10 { width: $standard-column-width / 10 * 7 }
.span-8-10 { width: $standard-column-width / 10 * 8 }
.span-9-10 { width: $standard-column-width / 10 * 9 }