.grid{
  display: flex;
  flex-wrap: wrap;
  padding-right: $standard-padding;
  padding-left: $standard-padding;
}

.inner{
  width: $standard-width;
  margin:0 auto;
}

.inner-absolute{
  width: $standard-width;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -$standard-width / 2;
}

[class*='span-'] {
  float: left;
  padding: $standard-padding;
  position: relative;
}
 
[class*='span-']:last-of-type {
  padding-right: $standard-padding - 2;
  float: right;
}


/* Defaults ~ Mobile Portrait */
@include make-default-grid;

/* Mobile Landscape  */
@media only screen and (min-width: $screen-xs) {
  @include make-grid(xs);
}

/* Tablet Portrait */
@media only screen and (min-width: $screen-sm) {
  @include make-grid(sm);
}

/* Tablet Landscape */
@media only screen and (min-width: $screen-md) {
  @include make-grid(md);
}

/* Desktop */
@media only screen and (min-width: $screen-lg) {
  @include make-grid(lg);
}

/* Desktop Wide & HD TV */
@media only screen and (min-width: $screen-xl) {
  @include make-grid(xl);
}